<footer class="footer footer-simple">
  <div class="container">
    <hr>
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">
          &copy; <script>
            document.write(new Date().getFullYear())
          </script> David Francis
        </div>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-footer justify-content-end">
          <li class="nav-item">
            <a href="/" class="nav-link">David Francis</a>
          </li>
          <li class="nav-item">
            <a href="https://blog.iamdavidfrancis.com" class="nav-link" target="_blank">Blog</a>
          </li>
          <li class="nav-item">
            <a href="https://photography.iamdavidfrancis.com/" class="nav-link" target="_blank">Photography</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>